<header class="hidden">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <a class="btn btn-primary mt-3" href="">Home</a>
            <div class="col-12 text-center">
                <h1 class="font-weight-light mt-5 mb-5">Thank You! That Was Yummy!</h1>
                <img src="~/Ellieeats.png" />
            </div>
        </div>
    </div>
</header>

